.form-delete{
    background-color: #035a9da0;
    width: 430px;
    height: 130px;
    margin: 50px auto;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 16px -1px rgb(20, 18, 18);
}

.btn-delete{
    background-color: #a40000d3; 
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: solid black 1px;
    color: white;
    

}
.btn-delete:hover{
    cursor: pointer;
    background-color: #e00000;
    font-size: 15px;
    
}
.mensagemDb{
    margin: 0 auto;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}