.busca{
  background-color: #005ea200;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}


.titleDocentes{
font-size: 35px;
}
.btn-docente{
  background-color: #890d0d; 
    border-radius: 20px;
    width: 490px;
    height: 32px;
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
    border: none;
}

.btn-docente:hover{
  background-color: #D40404; 
  cursor: pointer;
}

.lista-docentes{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.cards{
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.icon-add{
  height: auto;
  margin-top: 10%;
}

.icones{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 5%;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1300px) {
  .cards {
   grid-template-columns: 1fr 1fr;
  }
}
  
@media only screen and (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
  